html {

	height: 100%;

	box-sizing: border-box;

}
body{


	font-family: 'Open Sans', sans-serif;

}
#titolo{
	background-color: #2b2b2b;
}

h2{
	text-align: center;
	border-bottom: solid black 2px;
	padding-bottom: 10px;
	
}
input[type="image"] { 

	width: 25px;
	height: 25px;
}
#main{
	margin-top: -24px;
	border-radius: 0px;
	background-color: #EDEDED;
	padding-top: 17px;
	margin-bottom: 10px;
}
#tab{
	width: 700px;
	margin-left:auto;
	margin-right:auto;
}
#tabPiz{
	width: 95%;
	margin-left: 3%;
}

#all{
	background-color: #8a92a0;

}


@media screen and (max-width: 600px){
	input[type="image"] { 
		width: 35px;
		height: 35px;
	}
	#tab{
		width: 100%;
	}
	#tabPiz{
		width: 100%;
		margin-left: 0%;
	}


}

